<form class="form d-flex flex-column align-items-center create-employee-form">
    <div class="border border-dark rounded p-5">
        <h3 class="text-center">New Employee Information Form</h3>
        <div class="form-element">
            <input type="text" id="first-name" class="form-control form-control-md" />
            <label for="first-name">First Name: </label>
        </div>
        <div class="form-element">
            <input type="text" id="last-name" class="form-control form-control-md" />
            <label for="last-name">Last Name: </label>
        </div>
        <div class="form-element">
            <input pattern="^\d*(\.\d{0,2})?$" id="hourly-wage" class="form-control form-control-md" />
            <label for="hourly-wage">Hourly Wage: </label>
        </div>
        <div class="form-element">
            <input type="text" id="password" class="form-control form-control-md" />
            <label for="password">Password: </label>
        </div>
        <div class="form-element">
            <button class="px-5 py-3" type="submit">Add New Employee</button>
        </div>
    </div>
</form>
<script src="/js/addemployee.js"></script>