<div class="border border-dark rounded pb-5 px-3">
    <h2 class="text-center employee-name">
        Hello, {{employee.first_name}}!
    </h2>
    {{#if timesheetData}}
        <table class="table table-hover table-responsive employee-workinghour-table border-top">
            <thead class="table-light">
                <tr>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Total</th>
                </tr>
            </thead>
        {{#each timesheetData as |shift|}}
        <tr>
        {{> timesheetdetails shift}}
        </tr>
        {{/each}}
    {{else}}
    <h2 class="text-center">Current no working hours available</h2>
    {{/if}}
    </table>
</div>