    <div class="clockin-container d-flex flex-column align-items-center">
        <div class="border border-dark rounded p-5">
            <div class="current-date"></div>
            <div class="current-time"></div>

            <div class="button-container">
                <button class="clockin-button">Clock In</button>
                <button class="clockout-button">Clock Out</button>
            </div>
            <div class="working-stopwatch"></div>
            <div class="message"></div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.4/dayjs.min.js"></script>
<script src="/js/clockin.js"></script>