<div class="row login">
    <form class="form login-form col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 row">
        <h2 class="text-center col-12">Log In</h2>
        <div class="form-element col-12 row">
            <label for="username-login" class="col-12 col-md-4">Username: </label>
            <input type="text" id="username-login" class="col-12 col-md-8"/>
        </div>
        <div class="form-element col-12 row">
            <label for="password-login" class="col-12 col-md-4">Password: </label>
            <input type="password" id="password-login" class="col-12 col-md-8"/>
        </div>
        <button type="submit" class="col-6 offset-3 login-button">Log In</button>
    </form>
</div>
<script src="/js/login.js"></script>