* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary: #3D405B;
    --secondary: #F2CC8F;
    --teritary: #81B29A;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

td {
    font: black;
}

header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 20px 35px;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1vw 5%;
}


/* .main-login {
    margin: center;
} */

button {
    background-color: var(--teritary);
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: var(--primary);
    color: white;
}

#logo {
    font-size: 1.5em;
    padding-left: 5px;
}

#logo-login {
    font-size: 3em;
}

#slogan {
    font-style: italic;
}

.center {
    margin: auto;
    position: center;
}

.login {
    margin-top: 50px;
    margin: auto;
    position: center;
}

.login-info {
    background-color: black;
    color: white;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
}

.form-element {
    margin: 20px 0;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

nav {
    margin-top: 30px;
}

nav li {
    list-style: none;
}

nav a {
    background-color: var(--secondary);
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--teritary);
    color: black;
}

#logout {
    color: black;
    cursor: pointer;
}

.employee-name {
    width: auto;
    padding: 20px 35px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.current-date,
.current-time {
    font-size: 25px;
    font-family: 'Grenze', serif;
}

.clockin-button,
.clockout-button {
    width: 200px;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    display: none;
}

.message {
    font-size: 25px;
    font-weight: bold;
}

.working-stopwatch {
    font-size: 30px;
    font-weight: bold;
}

.create-employee-form {
    margin-top: 20px;
}

.savebtn,
.cancelbtn,
.editbtn {
    font-size: 15px;
    font-weight: bold;
    padding: 3px 10px;
}

.savebtn,
.cancelbtn {
    display: none;
}

.edit-container {
    width: auto;
    margin: auto;
}

.edit-info {
    color: black;
    background-color: var(--teritary);
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px;
    border-radius: 10px;
}

.edit-info:hover {
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
}

.add-employee a {
    background-color: var(--teritary);
    color: black;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.add-employee a:hover {
    background-color: var(--primary);
    color: white;
}

#pop-up {
    background: #3D405B;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    display: none;
}

#close-btn {
    background-color: var(--teritary);
    color: black;
    padding: 3px 20px 3px 20px;
}

#close-btn:hover {
    background-color: var(--primary);
    color: white;
}