* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3D405B;
    --secondary: #F2CC8F;
    --teritary: #81B29A;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

button {
    background-color: var(--teritary);
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: var(--primary);
    color: white;
}

#logo {
    font-family: 'Hanalei Fill', cursive;
    font-size: 50px;
}

#slogan {
    font-style: italic;
}

.login {
    margin-top: 50px;
}

.login-info {
    background-color: black;
    color: white;
}

.login-form, .create-employee-form {
    background-color: var(--secondary);
    padding: 20px;
}

.login-form h2 {
    font-style: italic;
    font-weight: bold;
}

.form-element {
    margin: 20px 0;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

nav {
    margin-top: 30px;
}

nav li {
    list-style: none;
}

nav a {
    background-color: var(--secondary);
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--teritary);
    color: black;
}

#logout {
    color: black;
    cursor: pointer;
}

.employee-name {
    font-style: italic;
    width: fit-content;
    padding: 20px 35px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    text-shadow: 4px -4px 4px #000000;
}

.current-date, .current-time {
    font-size: 25px;
    font-family: 'Grenze', serif;
}

.clockin-button, .clockout-button {
    width: 200px;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    display: none;
}

.working-stopwatch  {
    font-size: 45px;
    font-weight: bold;
}

.message {
    font-family: 'Grenze', serif;
    font-size: 30px;
}

.create-employee-form {
    margin-top: 20px;
}

.savebtn, .cancelbtn, .editbtn {
    font-size: 15px;
    font-weight: normal;
    padding: 3px;

}
.savebtn, .cancelbtn {
    display: none;
}

.edit-container {
    width: fit-content;
    margin: auto;
}

.edit-info {
    color: black;
    background-color: var(--teritary);
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px;
    border-radius: 10px;
}


.edit-info:hover {
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
}

.add-employee a {
    background-color: var(--teritary);
    color: black;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.add-employee a:hover {
    background-color: var(--primary);
    color: white;
}

#pop-up {
    background: black;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 5px solid white;
    text-align: center;
    display: none;
}

#close-btn {
    background-color: var(--teritary);
    color: black;
}

#close-btn:hover {
    background-color: var(--primary);
    color: white;
}